/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

html {
    font-family: "Lato", sans-serif;
    background-color: #fff;
}

#up {
    display: none;
}

/* CSS */
/* #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */
#header {
    position: fixed;
    display: flex;
    background-color: #000;
    height: 46px;
    width: 100%;
    justify-content: space-between;
    top: 0;
    z-index: 1;
   
}

#nav {    
    display: flex;
    
}

#nav li {
    display: block;
    position: relative;
}

#nav a:focus-visible,
#nav li:focus-visible {
    outline: 0;
}

#nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 24px;
    margin-left: 0px;
    line-height: 46px;
}

#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .sub-nav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav li:hover .sub-nav {
    display: flex;
    flex-direction: column;
    min-width: 160px;
}

#nav .sub-nav {
    position: absolute;
    background-color: #fff;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nav .sub-nav li a {
    padding: 0px 16px;
    color: #000;
}

.menu-btn {
    display: none;
}

.search-btn {
    padding: 12px 23px;
    height: 46px;
}

.search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
} 

.search-icon {
    color: #fff;
    font-size: 16px;
}

.body {
    margin: auto;
    max-width: 2000px;
}

#slider {
    margin-top: 46px;
    background-image: url("img/ny.jpg");
    width: 100%;
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}

#slider .slider-fig{
    color: #fff;
    text-align: center;
    padding: 32px 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

.slider-fig h3 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.slider-fig p {
    margin: 15px 0 30px 0;
    font-size: 20px;
    font-weight: 500;
}

#content {
    color: #000;
    margin-top: 4px;
}

#content .content-container {
    padding: 64px 16px;
    text-align: center;
    
}

#content .content-container .heading {
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 4px;
    font-size: 28px;
    font-weight: 400;
}

.content-container .sub-heading {
    margin: 15px 0;
    font-style: italic;
    color: #999999;
}

.justify {
    text-align: justify;
}

#band {
    max-width: 800px;
    margin: auto;
}

#band .team {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
}

.member p {
    width: 100%;
    margin: 15px 0;
}

.member img {
    width: 70%;
    margin-bottom: 16px;
    border-radius: 5px;
}

#tour-container {
    background-color: #000;
    width: 100%;
    color: #000;
}

#tour {
    max-width: 800px;
    margin: auto;
}

#tour .heading {
    color: #fff;
}

.months {
    margin: auto;
    margin-top: 32px;
}

.months ul {
    list-style-type: none;
    text-align: center;
}

.months ul li {
    padding: 8px 16px;
    text-align: left;
    border: 1px solid #DDDDDD ;
    border-bottom: none;
    background-color: #fff;
    color: #757575;
}

.sold-out {
    background-color: #f44336;
    margin-left: 16px;
    padding: 0 8px;
    color: #fff;
}

.available {
    margin-right: 16px;
    padding: 0 8px;
    background-color: #000;
    border-radius: 50%;
    float: right;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: -3px;
}

.place-list {
    display: flex;
    justify-content: space-between;
    margin: 32px -8px 0 -8px;
}

.place-items {
    text-align: left;
    margin-bottom: 16px;    
    width: 33.3333%;
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    filter: brightness(0.7);
}

.place-info {
    background-color: #fff;
    padding: 0 16px;
    display: inline-block;
}

.place-info p {
    margin: 15px 0;
}

.text-gray {
    color: #999999;
}

.buy-ticket-btn {
    margin: 0 0 16px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

.buy-ticket-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

#contact {
    max-width: 800px;
    margin: auto;
}

#contact i {
    width: 30px;
}


.contact-container {
    padding: 32px 0;
    display: flex;
    line-height: 30px;
    font-size: 18px;
}

.contact-container .left,
.contact-container .right {
    text-align: left;
    width: 50%;
}

#contact .right input{
    
    padding: 10px 20px;
    margin: 5px;
    width: 100%;
    border: 1px #757575 solid ;
}

input[type='submit'] {
    margin: 0 0 16px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

input[type='submit']:hover {
    border: none;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    border-style: none!important;
}

.map img {
    width: 100%;
}

#footer {
    display: flex;
    margin: auto;
    min-height: 216px;
    text-align: center;
    color: #757575;
    font-size: 16px;
    align-items: center;
    padding: auto;
    justify-content: center;
    flex-direction: column;
}

#footer a {
    font-size: 36px;
    margin: 5px;
    color: #757575;
}

#footer a:hover {
    color: #b1b1b1;
}

#footer p {
    margin: 20px;
}

.modal.open {
    display: flex;
}

/* .modal-container.open {
    transform: translateY(0);
    transition: all 0.3s ease;
    transition-delay: 1s;
} */

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-container {
    position: relative;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation: modalFadeIn ease .4s;
}

.close-modal {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    color: #fff;
}

.close-modal:hover {
    color: #000;
    opacity: 1;
    background-color: #ccc;
    cursor: pointer;
}

.modal-header {
    width: 900px;
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    color: #fff;
    max-width: calc(100%-32px);
}

.modal-icon {
    font-size: 30px;
}
.modal-header p {
    margin-left: 15px;
    font-size: 30px;
}

.modal-body {
    padding: 0.15px 16px;
    font-size: 16px;
    display: block;
}

.modal-label {
    margin: 25px 0 10px 0;
    display: block;
}

.modal-body input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 15px;
}

.modal-btn {
    width: 100%;
    padding: 15px 0;
    opacity: .9;
    background-color: #009688;
    outline: none;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin: 16px 0;
}

.modal-btn:hover {
    color: #000;
    opacity: 1;
    background-color: #ccc;
    cursor: pointer;
}

.modal-body p {
    float: right;
    margin: 15px 0;
}

.modal-body a {
    color: #2196F3!important;
}

.close-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.close-btn {
    margin: 16px 0;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: #f44336;
    font-size: 15px;
    color: #fff;
}

@keyframes modalFadeIn {
    from {
        opacity: 0.7;
        transform: translateY(-100%);
    }
    to {
        transform: translateY();
        opacity: 1;
    }
}